.visibility{
    width:0px;
}

.active-enemy {
    border: solid 5px black;
}

.active-player {
    border: solid 5px blue;
}

#image {
    height: 110px;
    width: 100px;

background: url('../images/envy-death.png') 1px 0px; 
}

body {
    /* background-color: #89D79A; */
    /* background-color: black; */
    
}